<app-hijo
  (EmitirObjeto1)="recibirObjeto1($event)"
  (EmitirObjeto2)="recibirObjeto2($event)">
</app-hijo>

<div class="container col-5">
<h1 class="my-5">Objetos con @Output</h1>

  <ul>
    <li>Objeto1 del Hijo: <pre>{{peliculas | json}}</pre></li>
    <li>Objeto2 del Hijo: <pre>{{series | json}}</pre></li>
  </ul>

</div>
